<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itoystergold.mapper.AssetPersonSalaryMapper" >
  <resultMap id="BaseResultMap" type="com.itoystergold.pojo.AssetPersonSalary" >
    <id column="sid" property="sid" jdbcType="VARCHAR" />
    <result column="vid" property="vid" jdbcType="VARCHAR" />
    <result column="oid" property="oid" jdbcType="VARCHAR" />
    <result column="salary" property="salary" jdbcType="DECIMAL" />
    <result column="salary_categery" property="salaryCategery" jdbcType="VARCHAR" />
    <result column="pldate" property="pldate" jdbcType="TIMESTAMP" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sid, vid, oid, salary, salary_categery, pldate, createtime, updatetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.itoystergold.pojo.AssetPersonSalaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from asset_person_salary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from asset_person_salary
    where sid = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from asset_person_salary
    where sid = #{sid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.itoystergold.pojo.AssetPersonSalaryExample" >
    delete from asset_person_salary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itoystergold.pojo.AssetPersonSalary" >
    insert into asset_person_salary (sid, vid, oid, 
      salary, salary_categery, pldate, 
      createtime, updatetime)
    values (#{sid,jdbcType=VARCHAR}, #{vid,jdbcType=VARCHAR}, #{oid,jdbcType=VARCHAR}, 
      #{salary,jdbcType=DECIMAL}, #{salaryCategery,jdbcType=VARCHAR}, #{pldate,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.itoystergold.pojo.AssetPersonSalary" >
    insert into asset_person_salary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="vid != null" >
        vid,
      </if>
      <if test="oid != null" >
        oid,
      </if>
      <if test="salary != null" >
        salary,
      </if>
      <if test="salaryCategery != null" >
        salary_categery,
      </if>
      <if test="pldate != null" >
        pldate,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="vid != null" >
        #{vid,jdbcType=VARCHAR},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        #{salary,jdbcType=DECIMAL},
      </if>
      <if test="salaryCategery != null" >
        #{salaryCategery,jdbcType=VARCHAR},
      </if>
      <if test="pldate != null" >
        #{pldate,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itoystergold.pojo.AssetPersonSalaryExample" resultType="java.lang.Integer" >
    select count(*) from asset_person_salary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update asset_person_salary
    <set >
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=VARCHAR},
      </if>
      <if test="record.vid != null" >
        vid = #{record.vid,jdbcType=VARCHAR},
      </if>
      <if test="record.oid != null" >
        oid = #{record.oid,jdbcType=VARCHAR},
      </if>
      <if test="record.salary != null" >
        salary = #{record.salary,jdbcType=DECIMAL},
      </if>
      <if test="record.salaryCategery != null" >
        salary_categery = #{record.salaryCategery,jdbcType=VARCHAR},
      </if>
      <if test="record.pldate != null" >
        pldate = #{record.pldate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update asset_person_salary
    set sid = #{record.sid,jdbcType=VARCHAR},
      vid = #{record.vid,jdbcType=VARCHAR},
      oid = #{record.oid,jdbcType=VARCHAR},
      salary = #{record.salary,jdbcType=DECIMAL},
      salary_categery = #{record.salaryCategery,jdbcType=VARCHAR},
      pldate = #{record.pldate,jdbcType=TIMESTAMP},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itoystergold.pojo.AssetPersonSalary" >
    update asset_person_salary
    <set >
      <if test="vid != null" >
        vid = #{vid,jdbcType=VARCHAR},
      </if>
      <if test="oid != null" >
        oid = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        salary = #{salary,jdbcType=DECIMAL},
      </if>
      <if test="salaryCategery != null" >
        salary_categery = #{salaryCategery,jdbcType=VARCHAR},
      </if>
      <if test="pldate != null" >
        pldate = #{pldate,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sid = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itoystergold.pojo.AssetPersonSalary" >
    update asset_person_salary
    set vid = #{vid,jdbcType=VARCHAR},
      oid = #{oid,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=DECIMAL},
      salary_categery = #{salaryCategery,jdbcType=VARCHAR},
      pldate = #{pldate,jdbcType=TIMESTAMP},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where sid = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>